
.container-produto {
  display: grid; 
  gap: 20px;            
  justify-content: center;
  align-items: center;  
  grid-template-columns: repeat(2, 1fr);
}

.item-produto {
  text-align: center;  
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
}

.item-produto img {
  width: 200px;         
  height: auto;   
  color : #000;
}
.item-produto button {
  background-color: #4c72af; 
  border: none;             
  color: white;            
  padding: 15px 32px;      
  text-align: center;      
  text-decoration: none;   
  display: inline-block;   
  font-size: 16px;         
  margin: 4px 2px;         
  cursor: pointer;         
}

.cabecalho {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho img {
    width: 600px;
    max-width: 90%;
    height: auto;
}